.container-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: var(--spacing-2xl);
  gap: var(--spacing-md);

  .back-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--darkGrey900, #344858);
    font-size: var(--font-h5);
    font-weight: var(--weight-medium);
    margin-bottom: var(--spacing-4xl);
  }

  .back-button img {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: var(--text-secondary);
    margin-right: var(--spacing-lg);
  }
  .page-title-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .page-title {
      display: flex;
      align-items: center;
      color: var(--darkGrey900, #344858);
      font-size: var(--font-h2);
      font-style: normal;
      font-weight: var(--weight-bold);
      line-height: 1;
      span {
        border: 1px solid var(--primary400);
        padding: var(--spacing-xs) var(--spacing-lg);
        font-size: var(--font-p-md);
        color: var(--primary600);
        background: var(--white);
        margin-right: var(--spacing-lg);
        border-radius: var(--border-radius-s);
      }
    }
    button {
      line-height: 1;
      background: var(--primary600);
      padding: var(--spacing-md-plus) 20px;
      font-size: var(--font-p-md);
      font-weight: var(--weight-bold);
      color: var(--white);
      border-radius: var(--border-radius-m);
    }
  }
}
