#search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: var(--spacing-md-plus);
  padding: var(--spacing-2xl);
  background-color: var(--white);
  border-radius: var(--border-radius-l);
  border: 1px solid transparent;
  box-shadow: 0px 5px 12px 0px #e3eff1;
  background: var(--white);
  margin-bottom: 45px;

  .search-bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: var(--spacing-lg);
  }

  .search-bar > div {
    min-width: 150px;
  }

  .search-bar input[type="text"],
  .search-bar select,
  .search-bar input[type="date"] {
    padding: var(--spacing-md-plus) var(--spacing-xl);
    border-radius: var(--border-radius-m);
    font-size: var(--font-p-sm);
    color: var(--darkGrey900);
    border-radius: var(--border-radius-m);
    background: var(--darkGrey100);
    height: 43px;
  }

  .bubble {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    .speech-bubble {
      position: absolute;
      z-index: -1;
      left: -99px;
      top: -40px;
      display: inline-block;
      background-color: var(--darkGrey800);
      color: var(--white);
      padding: var(--spacing-sm) var(--spacing-lg);
      border-radius: var(--border-radius-m);
      font-size: var(--font-caption);
      font-weight: var(--weight-medium);
      width: 210px;
      opacity: 0;
    }

    .speech-bubble::after {
      content: "";
      position: absolute;
      bottom: -6px;
      transform: translateX(-50%);
      left: 50%;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid var(--darkGrey800);
    }
  }
  .bubble:hover .speech-bubble {
    z-index: 1;
    opacity: 1;
    transition: 0.5s opacity ease-in;
  }

  .text-wrapper {
    display: inline-block;
    font-size: var(--font-small);
    color: var(--darkGrey700);
    margin-bottom: var(--spacing-xs);
  }

  .text-info {
    margin-right: var(--spacing-xs);
  }

  .search-bar select {
    width: 100%;
    color: var(--darkGrey500);
    font-size: var(--font-p-sm);
    font-style: normal;
    font-weight: var(--weight-regular);
    line-height: normal;
  }

  .search-bar input[type="date"] {
    width: 100%;
  }

  .search-bar .date-range {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
  }

  .search-bar .date-range span {
    margin: 0 var(--spacing-xs);
    font-size: var(--font-p-sm);
    color: var(--darkGrey500);
  }

  .search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: var(--primary600);
    color: var(--white);
    border-radius: var(--border-radius-m);
    font-size: var(--font-h6);
    font-weight: var(--weight-bold);
    cursor: pointer;
  }

  .search-bar .helper {
    align-items: start;
  }

  .info {
    font-size: var(--font-small);
    color: var(--darkGrey700);
    margin-left: var(--spacing-xs);
    cursor: pointer;
  }
}
