@import url("./_variables.css");
@import url("./_table.css");
@import url("./_tag.css");
@import url("./_side_nav.css");
@import url("./_breadcrumb.css");
@import url("./_card.css");
@import url("./_container_header.css");
@import url("./_previous_page.css");

/* ========== BASE STYLES ========== */
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-image: url(../assets/icons/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
