:root {
  /* Headings */
  --font-h1: 2.75rem; /* 44px */
  --font-h2: 1.5rem; /* 24px */
  --font-h3: 1.38rem; /* 22px */
  --font-h4: 1.25rem; /* 20px */
  --font-h5: 1.125rem; /* 18px */
  --font-h6: 1rem; /* 16px */

  /* Paragraphs */
  --font-p-lg: 1.125rem; /* 18px */
  --font-p-md: 1rem; /* 16px */
  --font-p-sm: 0.9375rem; /* 15px */

  /* Captions & Footnotes */
  --font-caption: 0.88rem; /* 14px */
  --font-footnote: 0.8rem; /* 13px */
  --font-small: 0.75rem; /* 12px */

  /* Font Weights */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* Color styles */
  --danger700: #d34442;
  --danger500: #e56765;
  --danger400: #f87774;
  --danger200: #ffe8e8;
  --danger50: #fffafa;
  --darkGrey990: #283641;
  --darkGrey900: #344858;
  --darkGrey800: #576972;
  --darkGrey700: #6c8490;
  --darkGrey600: #9fb2bc;
  --darkGrey500: #aabcc4;
  --darkGrey300: #cfdbe1;
  --darkGrey200: #e1eaef;
  --darkGrey150: #eff5f9;
  --darkGrey100: #f3f9fc;
  --darkGrey50: #f7fafd;
  --white: #ffffff;
  --primary800: #05536f;
  --primary700: #156b8b;
  --primary600: #009eb8;
  --primary500: #2bbad1;
  --primary400: #94dce8;
  --primary300: #d6f0f5;
  --primary200: #e8f6f9;
  --primary100: #eff9fb;
  --primary50: #f4fdff;
  --accent: #fff173;
  --link700: #098a86;
  --link600: #0fada8;
  --link500: #0ccdb4;
  --link300: #b1ece4;
  --link100: #effffd;
  --sky500: #32a2f3;
  --sky300: #c0e5ff;
  --sky100: #eff9ff;
  --shadow: rgba(0, 0, 0, 0.15);
  --gradientLogotype: linear-gradient(90deg, #2f5d70 0%, #01a7bf 100%);

  /*Border-radius*/
  --border-radius-s: 6px;
  --border-radius-m: 8px;
  --border-radius-l: 16px;

  /* Shadows */
  --shadow-header-color: #e5f1f4;
  --shadow-header-opacity: 100%;
  --shadow-header-x: 0px;
  --shadow-header-y: 5px;
  --shadow-header-blur: 12px;
  --shadow-header-spread: 0px;
  --shadow-header-blur-bg: 40px;

  --shadow-popup-color: rgba(0, 0, 0, 0.08);
  --shadow-popup-opacity: 8%;
  --shadow-popup-x: 0px;
  --shadow-popup-y: 5px;
  --shadow-popup-blur: 12px;
  --shadow-popup-spread: 0px;

  --shadow-card-color: #e3eff1;
  --shadow-card-opacity: 100%;
  --shadow-card-x: 0px;
  --shadow-card-y: 5px;
  --shadow-card-blur: 12px;
  --shadow-card-spread: 0px;
  --shadow-card-blur-bg: 20px;

  /* Spacing Variables (Base Unit: 0.25rem, 1rem = 16px) */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.375rem; /* 6px */
  --spacing-md: 0.5rem; /* 8px */
  --spacing-md-plus: 0.625rem; /* 10px */
  --spacing-lg: 0.75rem; /* 12px */
  --spacing-xl: 1rem; /* 16px */
  --spacing-2xl: 1.5rem; /* 24px */
  --spacing-3xl: 2rem; /* 32px */
  --spacing-4xl: 2.5rem; /* 40px */
  --spacing-5xl: 3rem; /* 48px */
  --spacing-6xl: 3.75rem; /* 60px */
  --spacing-7xl: 6.25rem; /* 100px */
}

/* 1440px */
@media (max-width: 1440px) {
  :root {
    --container-width: 1200px;
  }
}

/* 1280px */
@media (max-width: 1280px) {
  :root {
    --container-width: 960px;
    --font-h1: 2.5rem; /* 40px */
    --font-h2: 1.375rem; /* 22px */
    --font-h3: 1.25rem; /* 20px */
    --font-h4: 1.125rem; /* 18px */
    --font-h5: 1.05rem; /* 17px */
    --font-h6: 1rem; /* 16px */
  }
}

/* 1024px */
@media (max-width: 1024px) {
  :root {
    --container-width: 840px;
    --spacing-6xl: 3.25rem; /* 52px */
    --spacing-7xl: 5.5rem; /* 88px */
  }
}

/* 768px */
@media (max-width: 768px) {
  :root {
    --container-width: 640px;
    --font-h1: 2.25rem; /* 36px */
    --font-h2: 1.375rem; /* 22px */
  }
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-image: url(../assets/icons/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Container */
/* .container {
  width: var(--container-width);
  margin: 0 auto;
} */

/* Shadows */

.header_shadow {
  box-shadow: var(--shadow-header-x) var(--shadow-header-y)
    var(--shadow-header-blur) var(--shadow-header-spread)
    var(--shadow-header-color);
  backdrop-filter: blur(var(--shadow-header-blur-bg));
  -webkit-backdrop-filter: blur(var(--shadow-header-blur-bg));
}

.popup_shadow {
  box-shadow: var(--shadow-popup-x) var(--shadow-popup-y)
    var(--shadow-popup-blur) var(--shadow-popup-spread)
    var(--shadow-popup-color);
}

.card_shadow {
  box-shadow: var(--shadow-card-x) var(--shadow-card-y) var(--shadow-card-blur)
    var(--shadow-card-spread) var(--shadow-card-color);
  backdrop-filter: blur(var(--shadow-card-blur-bg));
  -webkit-backdrop-filter: blur(var(--shadow-card-blur-bg));
}

.select-content {
  position: relative;
  select {
    appearance: none;
  }
}

.select-content::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background-image: url(../assets/icons/icon_arrow_down.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* .select-content:has(select:focus)::after {
  background-image: url(../assets/icons/icon_arrow_up.svg);
} */
