<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/main.css" />
    <link rel="stylesheet" href="./style.css" />
    <script src="../../../configs/tailwindcss.js"></script>
  </head>
  <body>
    <!-- 上傳失敗 -->
    <!-- C.13 -->
    <!-- C.13.1 -->
    <!-- C.13.2 -->
    <!-- C.13.3 -->
    <div id="upload-fail-dialog-modal" class="dialog-modal open">
      <div class="inner">
        <div class="modal-header">
          <span></span>
          <h2 class="modal-title">上傳失敗</h2>
          <img
            class="close-dialog"
            src="../../../assets/icons/icon_close.svg"
            alt=""
          />
        </div>
        <div class="modal-content">
          <p>請檢查上傳內容是否格式有誤</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary close-dialog">返回</button>
          <button class="btn btn-primary close-dialog">重新上傳</button>
        </div>
      </div>
    </div>
  </body>
  <script src="./script.js"></script>
</html>
