/* @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"); */
#upload-regulations-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.15);
  z-index: 9999;
  display: none;
  .content-modal {
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    border-radius: var(--border-radius-m);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 744px;
    position: relative;
    border: 1px solid var(--darkGrey200, #e1eaef);

    .modal-header {
      padding: 18px 20px;
      border-bottom: 1px solid var(--darkGrey200, #e1eaef);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .modal-title {
      color: var(--darkGrey900, #344858);
      text-align: center;
      font-size: var(--font-p-lg);
      font-weight: var(--weight-bold);
      line-height: 24px;
    }

    .modal-body {
      position: relative;
      padding: 30px 30px 32px;
      .reviewer-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 50%;
        gap: 8px;

        label {
          color: var(--darkGrey800, #576972);
          font-size: var(--font-h6);
          font-weight: var(--weight-regular);
          line-height: 150%;
        }
      }

      .reviewer-radio {
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        outline: none;
        width: 20px;
        height: 20px;
      }

      .reviewer-radio::after {
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background-position: center center;
        background-size: contain;
        background-image: url(../../../assets/icons/icon_radio_button.svg);
      }

      .reviewer-radio:checked::after {
        background-image: url(../../../assets/icons/icon_radio_button_active.svg);
      }
    }

    .radio-group {
      display: flex;
      flex-direction: column;
      margin-bottom: var(--spacing-2xl);
      gap: 16px;
    }

    .radio-option {
      display: flex;
      align-items: center;
    }

    .radio-option input[type="radio"] {
      width: 20px;
      height: 20px;
      accent-color: #009eb8;
    }

    .select-section {
      margin-left: 27px;
    }

    .search-title {
      font-weight: var(--weight-medium);
      font-size: var(--font-small);
      color: var(--darkGrey700);
      margin-bottom: var(--spacing-sm);
    }

    .search-box {
      position: relative;
      margin-bottom: 16px;
    }

    .search-box input {
      width: 100%;
      padding: 12px 16px;
      border: none;
      border-radius: 8px;
      background-color: #f3f9fc;
      font-size: 16px;
      color: #344858;
    }

    .search-box input::placeholder {
      color: #9fb2bc;
    }

    .search-btn {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      padding: 8px;
    }

    .content-title {
      font-size: 15px;
      font-weight: 400;
      color: var(--darkGrey600);
      margin-bottom: var(--spacing-md);
    }

    .search-content {
      width: 100%;
      border: 1px solid var(--darkGrey300);
      height: 250px;
      border-radius: var(--border-radius-m);
      overflow-x: hidden;
      li:hover {
        background-color: var(--primary100);
      }
      .search-item {
        width: 100%;
        padding: var(--spacing-xl);
        font-size: var(--font-p-md);
        font-weight: var(--weight-regular);
        color: var(--darkGrey900);
        strong {
          color: var(--primary600);
          font-weight: var(--weight-regular);
        }
      }

      .empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        img {
          width: 110px;
        }
        h4 {
          font-size: 15px;
          font-weight: 400;
          color: var(--darkGrey600);
        }
      }
    }

    /* Footer */
    .modal-footer {
      display: flex;
      justify-content: center;
      margin-bottom: 24px;
    }

    .button {
      padding: 12px 16px;
      border-radius: var(--border-radius-m);
      font-size: var(--font-h6);
    }

    .button-cancel {
      background: var(--darkGrey150, #eff5f9);
      color: var(--darkGrey900, #344858);
      font-weight: var(--weight-regular);
    }

    .button-confirm {
      background: var(--Primary600, #009eb8);
      color: var(--White, #fff);
      font-weight: var(--weight-bold);
    }
  }

  /* Responsive adjustments */
  @media (max-width: 640px) {
    .radio-group {
      flex-direction: column;
    }

    .modal-footer {
      flex-direction: column;
    }

    .button {
      width: 100%;
    }
  }
}
#upload-regulations-modal.open {
  display: flex;
}
