<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>法規沿革</title>
    <link rel="stylesheet" href="../../../css/main.css" />
    <link rel="stylesheet" href="./style.css" />
    <script src="../../../configs/tailwindcss.js"></script>
  </head>
  <body>
    <!-- 法規沿革 -->
    <!-- C.2.5 -->
    <div id="regulatory-history" class="overlay open">
      <div class="modal">
        <div class="modal-header">
          <span></span>
          <h2 class="modal-title">法規沿革</h2>
          <img
            class="overlay-close"
            src="../../../assets/icons/icon_close.svg"
            alt=""
          />
        </div>

        <div class="modal-content">
          <div class="gradient-top"></div>
          <section class="section-content">
            <h2 class="main-title">現行法條</h2>

            <div class="article">
              <h3 class="sec-title">第 10-1 條</h3>
              <ol class="main-list">
                <li>
                  保護機構指證前條第一項業務，發現上市、上櫃或與櫃公司之董事或監察人，有證券交易法第一百五十五條、第一百五十七條之一或期貨交易法第一百零六條至第一百零八條規定之情事，或執行業務有重大損害公司之行為或違反法令或章程之重大事項，得依下列規定辦理：
                  <ol class="sub-list">
                    <li>
                      一、請求公司之監察人為公司對董事提起訴訟，或請求公司之董事會為公司對監察人提起訴訟，或請求公司對已卸任之董事或監察人提起訴訟。監察人、董事會或公司自保護機構請求之日起三十日內不提起訴訟時，保護機構得為公司提起訴訟，不受公司法第二百十四條及第二百二十七條準用第二百十四條之限制。
                    </li>
                    <li>
                      二、訴請法院裁判解任公司之董事或監察人，不受公司法第二百條及第二百二十七條準用第二百條之限制，且解任事由不以起訴時任期內發生者為限。
                    </li>
                  </ol>
                </li>
                <li>
                  前項第二款之解任裁判確定解任後，自保護機構知悉解任事由時起，二年間不行使，或自解任事由發生時起，逾過十年而消滅。
                </li>
                <li>
                  第三十四條至第三十六條規定，於保護機構依第一項規定提起訴訟、上訴或聲請保全程序、執行程序時，準用之。
                </li>
                <li>
                  公司因故終止上市、上櫃或興櫃者，保護機構就該公司於上市、上櫃或興櫃期間有第一項所定情事，仍有前三項規定之適用。
                </li>
                <li>
                  保護機構依第一項第一款規定提起訴訟時，就同一基礎事實應負賠償責任且有為公司管理事務及簽名之董事，視為被告。
                </li>
                <li>
                  公司之監察人、董事會或公司依第一項第一款規定提起訴訟時，保護機構為維護公司及股東權益，於該訴訟繫屬中得參加，並準用民事訴訟法第五十六條第一項規定。
                </li>
                <li>
                  公司之董事或監察人，經法院判決確定應賠償公司損害，且於判決確定後二年內不清償任何部分，上櫃或興櫃公司之董事、監察人及依公司法第二十七條第一項規定受指定代表行使職務之自然人，其已充任者，當然解任。
                </li>
                <li>
                  第一項第二款之解任裁判確定後，由主管機關函請公司登記主管機關辦理解任登記。
                </li>
                <li>
                  公司已依法設置審計委員會者，第一項及第六項所稱監察人，指審計委員會或其獨立董事成員。
                </li>
              </ol>
            </div>
          </section>

          <section class="section-content">
            <h2 class="main-title">修法歷程</h2>

            <div class="amendment">
              <div class="amendment-date">109 年 6 月 10 日 修正前原文</div>
              <div class="amendment-content">
                <p>
                  中華民國一百零九年六月十日總統華總一經字第 10900064271
                  號令修正公布第 10-1、19、26 條條文；增訂第 10-2、40-1
                  條條文施行日期：由行政院定之中華民國一百零九年七月七日行政院院臺金字第
                  1090021932 號令發布定自一百零九年八月一日施行。
                </p>

                <div class="article">
                  <h3>
                    第 10-1
                    條（上市或上櫃公司董事或監察人執行業務有損害公司或違法事項之處理）
                  </h3>
                  <ol class="main-list">
                    <li>
                      保護機構指證前條第一項業務，發現上市或上櫃公司之董事或監察人執行業務，有重大損害公司之行為或違反法令或章程之重大事項，得依下列規定辦理：
                      <ol class="sub-list">
                        <li>
                          一、請求公司之監察人為公司對董事提起訴訟，或請求公司之董事會為公司對監察人提起訴訟。監察人或董事會自保護機構請求之日起三十日內不提起訴訟時，保護機構得為公司提起訴訟，不受公司法第二百十四條及第二百二十七條準用第二百十四條之限制。保護機構之請求，應以書面為之。
                        </li>
                        <li>
                          二、訴請法院裁判解任公司之董事或監察人，不受公司法第二百條及第二百二十七條準用第二百條之限制。
                        </li>
                      </ol>
                    </li>
                    <li>
                      公司已依法設置審計委員會者，前項所稱監察人，指審計委員會或其獨立董事成員。
                    </li>
                    <li>
                      第三十四條至第三十六條規定，於保護機構依第一項規定提起訴訟、上訴或聲請保全程序、執行程序時，準用之。
                    </li>
                    <li>
                      公司因故終止上市或上櫃者，保護機構就該公司於上市或上櫃期間有第一項所定情事，仍有前三項規定之適用。
                    </li>
                  </ol>
                </div>
              </div>
            </div>

            <div class="amendment">
              <div class="amendment-date">99 年 2 月 3 日 修正前原文</div>
              <div class="amendment-content">
                <p>
                  中華民國一百零九年六月十日總統華總一經字第 10900064271
                  號令修正公布第 10-1、19、26 條條文；增訂第 10-2、40-1
                  條條文施行日期：由行政院定之中華民國一百零九年七月七日行政院院臺金字第
                  1090021932 號令發布定自一百零九年八月一日施行。
                </p>

                <div class="article">
                  <h3 class="sec-title">
                    第 10-1
                    條（上市或上櫃公司董事或監察人執行業務有損害公司或違法事項之處理）
                  </h3>
                  <ol class="main-list">
                    <li>
                      保護機構指證前條第一項業務，發現上市或上櫃公司之董事或監察人執行業務，有重大損害公司之行為或違反法令或章程之重大事項，得依下列規定辦理：
                      <ol class="sub-list">
                        <li>
                          一、請求公司之監察人為公司對董事提起訴訟，或請求公司之董事會為公司對監察人提起訴訟。監察人或董事會自保護機構請求之日起三十日內不提起訴訟時，保護機構得為公司提起訴訟，不受公司法第二百十四條及第二百二十七條準用第二百十四條之限制。保護機構之請求，應以書面為之。
                        </li>
                        <li>
                          二、訴請法院裁判解任公司之董事或監察人，不受公司法第二百條及第二百二十七條準用第二百條之限制。
                        </li>
                      </ol>
                    </li>
                    <li>
                      公司已依法設置審計委員會者，前項所稱監察人，指審計委員會或其獨立董事成員。
                    </li>
                    <li>
                      第三十四條至第三十六條規定，於保護機構依第一項規定提起訴訟、上訴或聲請保全程序、執行程序時，準用之。
                    </li>
                    <li>
                      公司因故終止上市或上櫃者，保護機構就該公司於上市或上櫃期間有第一項所定情事，仍有前三項規定之適用。
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="modal-footer">
          <button class="close-btn overlay-close">關閉</button>
        </div>
      </div>
    </div>
  </body>
  <script src="./script.js"></script>
</html>
