<template id="table-template">
  <style></style>
  <div class="file-group">
    <div class="file-title">
      <div class="title">上傳法規主文</div>
      <span class="sub"
        >允許上傳的檔案格式：jpg, png, doc, docx, pdf 等圖片或文件檔</span
      >
    </div>
    <input
      accept=".jpg, .png, .doc, .docx, .pdf"
      class="file-input"
      id="file-1"
      type="file"
    />
    <label for="file-1" class="upload-area">
      <img src="./assets/icons/icon_upload_gray.svg" alt="" /><span
        >點擊或拖拉以新增檔案</span
      >
    </label>
  </div>
</template>
