<template id="nav-c11-template">
  <style>
    #nav-c11-container {
      .nav {
        margin-top: 72px;
        li {
          margin-left: 30px;
          padding-left: 20px;
          margin-bottom: 16px;
          font-weight: var(--weight-bold);
          color: var(--darkGrey600);
          border-left: 3px solid var(--darkGrey600);
          cursor: pointer;
        }

        li.active {
          border-left: 3px solid var(--darkGrey900);
          color: var(--darkGrey900);
        }
      }
    }
  </style>

  <div id="nav-c11-container" class="nav min-w-[200px] flex-[10%]">
    <ul>
      <li>外規列表</li>
      <li class="active">內規列表</li>
    </ul>
  </div>
</template>

<script>
  class NavC11Element extends HTMLElement {
    constructor() {
      super();
      const template = document.getElementById("nav-c11-template").content;
      const shadowRoot = this.attachShadow({ mode: "open" });
      shadowRoot.appendChild(template.cloneNode(true));
    }
  }
  customElements.define("nav-c11-element", NavC11Element);
</script>
