<template id="table-template">
  <style></style>
  <div id="table-container">
    <div class="layout">
      <div class="tab-container flex">
        <div>
          <!-- tab按鈕型 -->
          <!-- <div class="tab flex">
            <button class="px-4 py-3 active">全部</button>
            <button class="px-4 py-3">法規</button>
            <button class="px-4 py-3">函釋</button>
            <button class="px-4 py-3">其他</button>
          </div> -->
          <!-- 一般文字型 -->
          <div class="title flex">內規列表</div>
        </div>
        <a href="C.13.1-內規上傳頁-上傳全新內規.html" class="upload-btn">
          <img src="../assets/icons/icon_upload.svg" alt="" />
          <span>上傳</span>
        </a>
      </div>

      <div class="table-container basic">
        <!-- Table -->
        <table class="w-full">
          <thead class="table-head">
            <tr class="text-left fw-500 text-darkGrey500">
              <th>法令類型</th>
              <th>來文機關</th>
              <th>法規名稱/發文字號</th>
              <th>摘要</th>
              <th>創建日期</th>
              <th>內容處理進度</th>
              <th>關聯處理進度</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr>
              <td>法規</td>
              <td>金融監督管理委員會</td>
              <td>法制字第 11202513650 號</td>
              <td>本法第十三條所稱之替代服務，係指依法令...</td>
              <td>YYYY/MM/DD</td>
              <td>
                <span class="button-status review"
                  >覆核中
                  <div class="button-status-bubble">
                    10/26 12:00 覆核中
                  </div></span
                >
              </td>
              <td>
                <span class="button-status not-started"
                  >未開始
                  <div class="button-status-bubble">
                    10/26 12:00 覆核中
                  </div></span
                >
              </td>
              <td class="control">
                <div class="flex items-center space-x-2">
                  <a class="p-1 mr-0">
                    <img
                      class="img"
                      src="./assets/icons/icon_edit_disable.svg"
                    />
                  </a>
                  <img class="line" src="./assets/icons/line.svg" />
                  <button class="p-1">
                    <img class="img" src="./assets/icons/eye.svg" />
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td>法規</td>
              <td>金融監督管理委員會</td>
              <td>證券投資人及期貨交易人保護法</td>
              <td>本法第十三條所稱之替代證券，係指依法令或...</td>
              <td>YYYY/MM/DD</td>
              <td>
                <span class="button-status done"
                  >已完成
                  <div class="button-status-bubble">
                    10/26 12:00 覆核中
                  </div></span
                >
              </td>
              <td>
                <span class="button-status comparing"
                  >比對中
                  <div class="button-status-bubble">
                    10/26 12:00 覆核中
                  </div></span
                >
              </td>
              <td class="control">
                <div class="flex items-center space-x-2">
                  <a class="p-1 mr-0">
                    <img class="img" src="./assets/icons/icon_edit.svg" />
                  </a>
                  <img class="line" src="./assets/icons/line.svg" />
                  <button class="p-1">
                    <img class="img" src="./assets/icons/eye.svg" />
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td>函釋</td>
              <td>內政部國土管理署</td>
              <td>國署住字第 1131095822 號</td>
              <td>內政部國土管理署公告 114 年 300 億元中央...</td>
              <td>YYYY/MM/DD</td>
              <td>
                <span class="button-status processing"
                  >承辦處理中
                  <div class="button-status-bubble">
                    10/26 12:00 覆核中
                  </div></span
                >
              </td>
              <td>
                <span class="button-status case-sharing"
                  >分案中
                  <div class="button-status-bubble">
                    10/26 12:00 覆核中
                  </div></span
                >
              </td>
              <td class="control">
                <div class="flex items-center space-x-2">
                  <a class="p-1 mr-0">
                    <img
                      class="img"
                      src="./assets/icons/icon_edit_disable.svg"
                    />
                  </a>
                  <img class="line" src="./assets/icons/line.svg" />
                  <button class="p-1">
                    <img class="img" src="./assets/icons/eye.svg" />
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td>函釋</td>
              <td>內政部</td>
              <td>台內戶字第 1130243599 號</td>
              <td>依據戶籍法第 27 條第 2 項規定，新增未滿 1...</td>
              <td>YYYY/MM/DD</td>
              <td>
                <span class="button-status processing"
                  >承辦處理中
                  <div class="button-status-bubble">
                    10/26 12:00 覆核中
                  </div></span
                >
              </td>
              <td>
                <span class="button-status processing"
                  >承辦處理中
                  <div class="button-status-bubble">
                    10/26 12:00 覆核中
                  </div></span
                >
              </td>
              <td class="control">
                <div class="flex items-center space-x-2">
                  <a class="p-1 mr-0">
                    <img
                      class="img"
                      src="./assets/icons/icon_edit_disable.svg"
                    />
                  </a>
                  <img class="line" src="./assets/icons/line.svg" />
                  <button class="p-1">
                    <img class="img" src="./assets/icons/eye.svg" />
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td>法規</td>
              <td>銀行局</td>
              <td>電子支付機構管理條例</td>
              <td>修正電子支付機構管理條例條文</td>
              <td>YYYY/MM/DD</td>
              <td>
                <span class="button-status processing"
                  >承辦處理中
                  <div class="button-status-bubble">
                    10/26 12:00 覆核中
                  </div></span
                >
              </td>
              <td>
                <span class="button-status review"
                  >覆核中
                  <div class="button-status-bubble">
                    10/26 12:00 覆核中
                  </div></span
                >
              </td>
              <td class="control">
                <div class="flex items-center space-x-2">
                  <a class="p-1 mr-0">
                    <img class="img" src="./assets/icons/icon_edit.svg" />
                  </a>
                  <img class="line" src="./assets/icons/line.svg" />
                  <button class="p-1">
                    <img class="img" src="./assets/icons/eye.svg" />
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td>法規</td>
              <td>銀行局</td>
              <td>銀行法</td>
              <td>茲增訂銀行法第一百二十五條之七及第一百二...</td>
              <td>YYYY/MM/DD</td>
              <td>
                <span class="button-status processing"
                  >承辦處理中
                  <div class="button-status-bubble">
                    10/26 12:00 覆核中
                  </div></span
                >
              </td>
              <td>
                <span class="button-status done"
                  >已完成
                  <div class="button-status-bubble">
                    10/26 12:00 覆核中
                  </div></span
                >
              </td>
              <td class="control">
                <div class="flex items-center space-x-2">
                  <a class="p-1 mr-0">
                    <img
                      class="img"
                      src="./assets/icons/icon_edit_disable.svg"
                    />
                  </a>
                  <img class="line" src="./assets/icons/line.svg" />
                  <button class="p-1">
                    <img class="img" src="./assets/icons/eye.svg" />
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Pagination -->
    <!-- <div class="flex justify-center py-4">
      <nav class="flex items-center space-x-1">
        <button class="px-3 py-1 rounded border">«</button>
        <button class="px-3 py-1 rounded bg-[#009eb8] text-white">1</button>
        <button class="px-3 py-1 rounded">2</button>
        <button class="px-3 py-1 rounded">3</button>
        <span class="px-3 py-1">...</span>
        <button class="px-3 py-1 rounded">10</button>
        <button class="px-3 py-1 rounded border">»</button>
      </nav>
    </div> -->
    <div class="pagination-container">
      <div class="control">
        <!-- <img class="img" src="./assets/icons/pagination_first_enable.svg" /> -->
        <img class="img" src="./assets/icons/pagination_first_disable.svg" />
      </div>
      <div class="control">
        <!-- <img class="img" src="./assets/icons/pagination_prev_enable.svg" /> -->
        <img class="img" src="./assets/icons/pagination_prev_disable.svg" />
      </div>
      <div class="page active">
        <span>1</span>
      </div>
      <div class="page">
        <span>2</span>
      </div>
      <div class="page">
        <span>3</span>
      </div>
      <div class="page">
        <span>...</span>
      </div>
      <div class="page">
        <span>10</span>
      </div>
      <div class="control">
        <img class="img" src="./assets/icons/pagination_next_enable.svg" />
        <!-- <img class="img" src="./assets/icons/pagination_next_disable.svg" /> -->
      </div>
      <div class="control">
        <img class="img" src="./assets/icons/pagination_last_enable.svg" />
        <!-- <img class="img" src="./assets/icons/pagination_last_disable.svg" /> -->
      </div>
    </div>
  </div>
</template>
