<template id="table-template">
  <style></style>
  <div id="table-container">
    <div class="layout">
      <div class="tab-container flex">
        <div>
          <!-- tab按鈕型 -->
          <!-- <div class="tab flex">
            <button class="px-4 py-3 active">全部</button>
            <button class="px-4 py-3">法規</button>
            <button class="px-4 py-3">函釋</button>
            <button class="px-4 py-3">其他</button>
          </div> -->
          <!-- 一般文字型 -->
          <div class="title flex">內規列表</div>
        </div>

        <div class="sort-group mr-3xl">
          <span class="sort-title">排序方式</span>
          <div class="item">
            <label for="sort1" class="sort-radio">
              <input id="sort1" name="sort" type="radio" checked />
            </label>
            <label for="sort1">依關聯程度</label>
          </div>
          <div class="item">
            <label for="sort2" class="sort-radio">
              <input id="sort2" name="sort" type="radio" />
            </label>
            <label for="sort2">依時間近到遠</label>
          </div>
        </div>
      </div>

      <div class="table-container basic">
        <!-- Table -->
        <table class="w-full">
          <thead class="table-head">
            <tr class="text-left fw-500 text-darkGrey500">
              <th>權責單位</th>
              <th>內規名稱</th>
              <th>創建日期</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr>
              <td>業務部</td>
              <td>營業單位預告終止勞動契約作業辦法</td>
              <td>YYYY/MM/DD</td>
            </tr>
            <tr>
              <td>業務部</td>
              <td>營業單位預告終止勞動契約作業辦法</td>
              <td>YYYY/MM/DD</td>
            </tr>
            <tr>
              <td>業務部</td>
              <td>營業單位預告終止勞動契約作業辦法</td>
              <td>YYYY/MM/DD</td>
            </tr>
            <tr>
              <td>業務部</td>
              <td>營業單位預告終止勞動契約作業辦法</td>
              <td>YYYY/MM/DD</td>
            </tr>
            <tr>
              <td>業務部</td>
              <td>營業單位預告終止勞動契約作業辦法</td>
              <td>YYYY/MM/DD</td>
            </tr>
            <tr>
              <td>業務部</td>
              <td>營業單位預告終止勞動契約作業辦法</td>
              <td>YYYY/MM/DD</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Pagination -->
    <div class="pagination-container">
      <div class="control">
        <!-- <img class="img" src="./assets/icons/pagination_first_enable.svg" /> -->
        <img class="img" src="./assets/icons/pagination_first_disable.svg" />
      </div>
      <div class="control">
        <!-- <img class="img" src="./assets/icons/pagination_prev_enable.svg" /> -->
        <img class="img" src="./assets/icons/pagination_prev_disable.svg" />
      </div>
      <div class="page active">
        <span>1</span>
      </div>
      <div class="page">
        <span>2</span>
      </div>
      <div class="page">
        <span>3</span>
      </div>
      <div class="page">
        <span>...</span>
      </div>
      <div class="page">
        <span>10</span>
      </div>
      <div class="control">
        <img class="img" src="./assets/icons/pagination_next_enable.svg" />
        <!-- <img class="img" src="./assets/icons/pagination_next_disable.svg" /> -->
      </div>
      <div class="control">
        <img class="img" src="./assets/icons/pagination_last_enable.svg" />
        <!-- <img class="img" src="./assets/icons/pagination_last_disable.svg" /> -->
      </div>
    </div>
  </div>
</template>
