<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/main.css" />
    <link rel="stylesheet" href="./style.css" />
    <script src="../../../configs/tailwindcss.js"></script>
  </head>
  <body>
    <!-- 覆核通過 -->
    <!-- C.14.2.4 -->
    <div id="content-success-overlay" class="success-overlay open">
      <div class="success-modal">
        <div class="modal-header">
          <p></p>
          <button class="close-button overlay-close">
            <img src="../../../assets/icons/icon_close.svg" alt="" />
          </button>
        </div>
        <div class="modal-body">
          <img src="../../../assets/icons/icon_check_circle.svg" alt="" />
        </div>
        <div class="modal-footer">
          <span>覆核通過</span>
          <p>版本內容已公開</p>
        </div>
      </div>
    </div>
  </body>
  <script src="./script.js"></script>
</html>
