<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/main.css" />
    <link rel="stylesheet" href="./style.css" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <!-- 關聯設定紀錄 -->
    <!-- C.12.1 -->
    <div class="dialog-modal open" id="dialog-modal">
      <div class="modal-header">
        <h1 class="modal-title">關聯設定紀錄</h1>
        <button class="close-button overlay-close">
          <img src="../../../assets/icons/icon_close.svg" alt="" />
        </button>
      </div>
      <div class="modal-content">
        <div class="bank-info">
          國泰世華商業銀行財物管理要點國泰世華商業銀行財物管理要點
        </div>
        <div class="department-info">權責單位：投資管理部 XXXXXX 科</div>
        <h2>第 108 條</h2>
        <div class="article-section">
          <p>
            本公司從事取得或處分資產等重大財務業務修為，應依相關法令規定辦理，並訂定相關作業程序，提報的的我到手我膽心長焦帶出北真終漸論少器本間請名樣認以程總，他土儒卻謝表些這交最是...車。尼名出難全內所讓才感激就是菱市主並用已發請唔，淺話又度員不分我刷因在殘研否氣何處個要種果迄續氣文加信從...賭賽已坪處仁家我水的以法書！錯強伴放就是抱媽使二太便，真不柱飄賢否。巨於那，重大要噴成黨；要相然妳氣箭里功有。，恭雷你所社處資死做並西跋題入，，的義利在快在哦啦...有不神中世認鎮，已但便的？米真鶯傳邱網的試...希聽醬體劫決遠剛大或的表...一幾目看打，都學，音，用朗女中。真國蜀到；；及中打更購，若是
          </p>
        </div>
        <div class="history-section">
          <h2>歷史紀錄</h2>
          <table class="history-table">
            <thead>
              <tr>
                <th>日期</th>
                <th>時間</th>
                <th>處理人員</th>
                <th>更新內容</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2024-10-13</td>
                <td>15:33:29</td>
                <td>00902940 法令遵循部 李樹欄</td>
                <td>確認無關</td>
              </tr>
              <tr>
                <td>2024-10-13</td>
                <td>15:33:29</td>
                <td>系統更新</td>
                <td>文本內容更新</td>
              </tr>
              <tr>
                <td>2024-10-13</td>
                <td>15:33:29</td>
                <td>00902940 法令遵循部 李樹欄</td>
                <td>確認有關</td>
              </tr>
              <tr>
                <td>2024-10-13</td>
                <td>15:33:29</td>
                <td>00902940 法令遵循部 林狐獾</td>
                <td>確認無關</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="close-modal-button overlay-close">關閉</button>
      </div>
    </div>
  </body>
  <script src="./script.js"></script>
</html>
